{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="cart__container pt-5 pb-5">
        <!-- Page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 page__title">shopping cart</h1>
                <hr class="mt-1">
            </div>
        </div>
        <!-- Cart totals summary (smaller screens) -->
        <div class="row mb-4 d-xl-none">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        {% include "cart/cart-totals-summary.html" %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart column headings -->
        <div class="row">
            <div class="col-12 col-xl-8">
                <div class="row d-none d-sm-flex">
                    <div class="col-12 col-sm-2">
                        <p><strong>Product</strong></p>
                    </div>
                    <div class="col-12 col-sm-3">
                    </div>
                    <div class="col-12 col-sm-2 text-right">
                        <p><strong>Price</strong></p>
                    </div>
                    <div class="col-12 col-sm-3 text-center">
                        <p><strong>Qty</strong></p>
                    </div>
                    <div class="col-12 col-sm-2 text-right">
                        <p><strong>Total</strong></p>
                    </div>
                </div>
            </div>
            <div class="d-none col-xl-4 d-xl-block">
                <p>&nbsp;</p>
            </div>
        </div>
        <!-- Cart contents -->
        <div class="row">
            <!-- Cart items -->
            <div class="col-12 col-xl-8">
                <form id="form-update-cart" method="POST" action="{% url 'update_cart_qty' %}">
                    {% csrf_token %}
                    {% for item in cart_items %}
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                {% if item.image %}
                                    <a href="{% url 'product_info' item.product_id %}">
                                        <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_info' item.product_id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ item.name }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-12 col-sm-3">
                                <p class="mt-2 mt-sm-0">{{ item.name }}</p>
                            </div>
                            <div class="col-5 col-sm-2 text-sm-right">
                                <p>
                                    <span class="d-sm-none"><strong>Price:<br></strong></span>
                                    £{{ item.price }}
                                </p>
                            </div>
                            <div class="col-7 col-sm-3 text-right">
                                    <span class="d-sm-none"><strong>Qty: </strong></span>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-light rounded-0 p-0 qty__btn" type="button" id="btn-minus-item-{{ item.product_id }}">
                                                    <i class="fas fa-minus icon"></i>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm text-center" type="number" min="1" max="99" value="{{ item.quantity }}" name="qty-item-{{ item.product_id }}" id="qty-item-{{ item.product_id }}">
                                            <div class="input-group-append">
                                                <button class="btn btn-light rounded-0 p-0 qty__btn" type="button" id="btn-plus-item-{{ item.product_id }}">
                                                    <i class="fas fa-plus icon"></i>
                                                </button>
                                            </div>
                                        </div>
                                    <a class="float-right" href="{% url 'remove_item' item.product_id %}"><small>Remove Item</small></a>
                            </div>
                            <div class="col-12 col-sm-2 text-right">
                                <p class="mt-1 mt-sm-0 mb-0">
                                    <span class="d-sm-none"><strong>Product Total: </strong></span>
                                    £{{ item.line_total }}
                                </p>
                            </div>
                        </div>
                        <hr>
                    {% empty %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <p>Your shopping cart is currently empty.</p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Update shopping cart -->
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-success rounded-0 float-right" id="btn-update-cart" type="button">
                                <i class="fas fa-sync-alt"></i>
                                <span>UPDATE CART</span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Cart totals summary (large screens) -->
            <div class="d-none col-xl-4 d-xl-block pl-5">
                {% include "cart/cart-totals-summary.html" %}
            </div>


        </div>

    </div>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">

        /* 
         * Add event listeners to submit the update cart form.
         */
        $('#btn-update-cart').click(function(){
            $('#form-update-cart').submit();
            console.log('submit button pressed');
        });

    </script>
    {% include 'cart/includes/quantity_buttons_script.html' %}
{% endblock %}