{% extends "base.html" %}
{% load static %}

{% block extra_title %}Delivery information{% endblock %}

{% block content %}
<main class="container-fluid page__default">
    <div class="page__container pt-5 pb-5">
        <div class="row">
            <section class="col-12 offset-lg-1 col-lg-10">
                <h1 class="mb-4 page__title">Delivery Information</h1>
                <p>
                    We are working to ensure Standard Delivery within 3-5 days and we're
                    now offering Next Day Delivery.
                </p>
                <p><strong>When will my order arrive?</strong></p>
                <p>
                    If you have selected a downloadable product this will be sent to you immediately
                    after payment has been confirmed.  However due to the nature of the internet than
                    can sometimes be a delay of the message leaving our servers and arriving at you
                    mail provider.  For postage orders we use FedEx, Hermes, Royal Mail, Parcelforce or
                    XDP to deliver all of our orders.
                    If you have provided us with a mobile number then the Courier may send you an SMS (text)
                    message on the day that your delivery is due. A shipping confirmation email will advise on
                    which courier service has been allocated.

                    If you have selected Next Day, please make sure that you are at home to receive
                    your order as a signature as proof of delivery is required.

                    Some postcodes in Scotland take longer for us to reach and we will let you know
                    if this is the case. Unfortunately, UK deliveries that involve a journey across
                    water can take up to two extra days to arrive.
                </p>
                <p><strong>Delayed orders</strong></p>
                <p>
                    Some carriers and orders will need to be signed for, and if no one is available
                    to accept delivery at the specified delivery address, the package will be
                    returned to your local delivery depot and a card will be left detailing how
                    to arrange redelivery of your order. Look out for email and text messages
                    from the courier.
                </p>
                <p><strong>PO Box and BFPO Deliveries</strong></p>
                <p>Unfortunately, we are unable to process orders for PO Box and BFPO addresses.</p>
                <p><strong>Sustainable Packaging</strong></p>
                <p>
                    Alongside our Eco product ranges, our brown cardboard shipping boxes are
                    100% Carbon Neutral*. With over 80%** of our orders utilising our 100% Carbon
                    Neutral packaging, we are helping to reduce our carbon footprint.
                </p>
                <p>
                    <em>
                        * This statement is true to shipments fulfilled by INVITATIONS, but cannot guarantee the sustainability of Third Party Packaging
                    </em>
                </p>
                <p><em>** This applies to shipments fulfilled directly by INVITATIONS</em></p>
            </section>
        </div>
    </div>
</main>
{% endblock %}
