{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>This is the home page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ea ducimus cumque, error necessitatibus, minus velit hic nihil eaque nobis ipsam ad voluptatum quae modi accusantium beatae neque soluta autem!
    </p>
    {% endblock %}
