{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home page{% endblock %}

{% block content %}
<main class="container-fluid page__default pt-2 pb-3">
    <section class="row">
        <div class="col-12 col-lg-5 text-center mt-2 my-lg-auto order-1 order-lg-2">
            <div class="d-block d-lg-none">
                <p class="mb-1">Designs and more by</p>
                <h1 class="site__logo">- INVITATIONS -</h1>
            </div>
            <div class="d-none d-lg-block">
                <h1 class="display-4 text-dark mb-0">NEW DESIGNS</h1>
                <h2 class="text-dark">COMING SOON</h2>
            </div>
            <div class="my-4">
                <h3>
                    <a href="{% url 'products' %}" title="Shop for our products" class="btn btn__main btn__shop py-3">SHOP NOW</a>
                </h3>
            </div>
        </div>
        <div class="offset-xs-2 col-xs-10 col-lg-7 text-center mt-2 my-lg-auto order-2 order-lg-1">
            <img src="{{ MEDIA_URL }}home-page.png" class="img-fluid" alt="Home page samples" title="Home page samples">
        </div>
    </section>
</main>
{% endblock %}
