{% extends "base.html" %}
{% load static %}

{% block extra_title %}Our story{% endblock %}

{% block content %}
<main class="container-fluid page__default">
    <div class="page__container pt-5 pb-5">
        <div class="row">
            <section class="col-12 offset-lg-1 col-lg-10">
                <h1 class="mb-4 page__title">Our Story</h1>
                <p>
                    We are a new family run company specialising in printable / emailable invitations.
                </p>
                <p>
                    Our aim is to provide a cost effect invitations solution that can help you
                    control the costs.  Rather than customising an invitation and forcing you to have
                    a certain quantity printed, we're giving you back control.  Download your
                    customised invitation design and print it as many times as you want on whatever
                    paper you want to use.  Alternatively don't print them print at all, think of the
                    environment and just email your invite to your guests.
                </p>
                <p>
                    If you have any design ideas that aren't already on the site, then why not get in
                    touch, to see if we can help.
                </p>
                <p>
                    Also, please consider registering an account with us, as then you can easily view your 
                    order history and also review any products you have bought. You can register now by clicking 
                    <a class="text-muted font-weight-bold" href="{% url 'account_signup' %}">HERE</a>
                </p>
            </section>
        </div>
    </div>
</main>
{% endblock %}
