<!-- Customize invite modal -->
<div class="modal fade" id="customize-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="customize-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-0">
                <h5 class="modal-title p-2 pl-3" id="customize-modal-title">
                    <span class="d-sm-none">{{ modaltitle|truncatechars:27 }}</span>
                    <span class=" d-none d-md-block">{{ modaltitle|truncatechars:70 }}</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Customize design -->
            <div id="customize-modal-body" class="modal-body bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="preview__size">
                                <img id="invite-customize-image" class="img-fluid" src="{{ product.customize_image.url }}" alt="">
                            </div>
                            <div id="design-preview" class="preview__size preview__overlay">
                                <button id="btn-invite-reset" type="button" title="Reset all fields to default settings" class="btn btn-secondary btn-sm btn__invite-action">
                                    <i class="fas fa-undo-alt"></i>
                                </button>
                                <button id="btn-invite-edit" type="button" title="Pause editing (helps pinch zoom on mobiles)" class="btn btn-secondary btn-sm btn__invite-action">
                                    <i class="fas fa-ban"></i>
                                </button>
                            </div>
                            <!-- Overlay to stop editing -->
                            <div id="design-pause-overlay" class="preview__size preview__overlay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-dark border-0 d-flex justify-content-between p-0">
                <button type="button" class="btn btn__default" data-dismiss="modal" title="Cancel invite changes">CANCEL</button>
                <button id="btn-customize-done" type="button" class="btn btn__default" title="Finish editing invite">FINISH</button>
            </div>
        </div>
    </div>
</div>
<!-- End of customize invite modal -->
