<div class="form-row ml-0">
    <label for="{-invite-field-}-text-content" class="col-12 col-sm-4 pl-0 m-0 text-sm-right">{-field-name-}</label>
    <div class="col-12 col-sm-8 pl-0">
        <input class="form-control form-control-sm field__margin rounded-0" value="{-textContent-}" type="text" name="{-invite-field-}-text-content" id="{-invite-field-}-text-content">
    </div>
</div>
<div class="form-row ml-0">
    <label for="{-invite-field-}-text-color" class="col-12 col-sm-4 pl-0 m-0 text-sm-right">Text Font</label>
    <div class="col-2 col-sm-1 pl-0">
        <input class="form-control form-control-sm field__margin rounded-0 p-0" value="{-textColor-}" type="color" name="{-invite-field-}-text-color" id="{-invite-field-}-text-color">
    </div>
    <div class="col-7 col-sm-5 pl-0">
        <select class="form-control-sm field__margin custom-select custom__select rounded-0" name="{-invite-field-}-text-font" id="{-invite-field-}-text-font" size="1">
            <option value="'Clicker Script', cursive">Clicker Script</option>
            <option value="'Londrina Solid', cursive">Londrina Solid</option>
            <option value="'Audiowide', cursive">Audiowide</option>
        </select>
    </div>
    <div class="col-3 col-sm-2 pl-0">
        <select class="form-control-sm field__margin custom-select custom__select rounded-0" name="{-invite-field-}-text-size" id="{-invite-field-}-text-size" size="1">
            <option value="72">18</option>
            <option value="96">24</option>
            <option value="128">32</option>
            <option value="160">40</option>
            <option value="192">48</option>
            <option value="240">60</option>
            <option value="288">72</option>
            <option value="336">84</option>
            <option value="384">96</option>
        </select>
    </div>
</div>
<div class="form-row ml-0">
    <label for="{-invite-field-}-stroke-color" class="col-12 col-sm-4 pl-0 m-0 text-sm-right">Text Stroke</label>
    <div class="col-2 col-sm-1 pl-0">
        <input class="form-control form-control-sm rounded-0 p-0" value="{-strokeColor-}" type="color" name="{-invite-field-}-stroke-color" id="{-invite-field-}-stroke-color">
    </div>
    <div class="col-5 col-sm-3 pl-0">
        <select class="form-control-sm custom-select custom__select rounded-0" value="{-strokeWidth-}" name="{-invite-field-}-stroke-width" id="{-invite-field-}-stroke-width" size="1">
            <option value="0px">No stroke</option>
            <option value="1px">1px</option>
            <option value="2px">2px</option>
            <option value="4px">4px</option>
        </select>
    </div>
    <div class="col-5 col-sm-4 p-0">
        <button id="btn-reset-{-invite-field-}" type="button" title="Restore defaults" class="btn btn-success btn-sm btn__field-action">
            <i class="fas fa-undo-alt"></i>
        </button>
        <button id="btn-cancel-{-invite-field-}" type="button" title="Close" class="btn btn-danger btn-sm btn__field-action">
            <i class="fas fa-times"></i>
        </button>
        <button id="btn-apply-{-invite-field-}" type="button" title="Apply changes" class="btn btn-primary btn-sm btn__field-action">
            <i class="fas fa-check"></i>
        </button>
    </div>
</div>
