{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="checkout__container pt-5 pb-5">
        <!-- Page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 page__title">your profile</h1>
                <hr class="mt-1">
            </div>
        </div>
        <div class="row">
            <!-- Order history -->
            <div class="col-12 col-lg-6 pr-lg-4">
                <h2 class="page__subtitle pt-3 pt-lg-2">Order History</h2>
                <div class="row mt-1">
                    <div class="col-6 col-sm-4">
                        <p class="mb-1 small text-muted">Order No.</p>
                    </div>
                    <div class="col-6 col-sm-5">
                        <p class="mb-1 small text-muted">Order Date</p>
                    </div>
                    <div class="col-3 d-none d-sm-block">
                        <p class="mb-1 small text-muted float-right">Grand Total</p>
                    </div>
                </div>            
                <hr class="mt-1 mb-1">
                <!-- Order history lines -->
                <div class="profile__list">
                    {% for order in order_history %}
                        <div data-set-order-line="{{ order.pk }}" class="row no-gutters profile__order-line p-1 mt-1">
                            <div class="col-6 col-sm-4">
                                <p class="mb-0">{{ order.pk|stringformat:"010d" }}</p>
                            </div>
                            <div class="col-6 col-sm-5 p-0">
                                <p class="mb-0 ml-2">
                                    {{ order.order_date|date:"jS M Y" }}&nbsp;
                                    <span class="small">({{ order.order_date|date:"g:ia"|cut:"." }})</span>
                                </p>
                            </div>
                            <div class="col-3 d-none d-sm-block pl-0 text-right">
                                <p class="mb-0">£{{ order.grand_total|floatformat:2 }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <div class="row mt-1">
                            <div class="col-12">
                                <p>You have not placed any orders yet</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- User profile -->
            <div class="col-12 col-lg-6 border__left pl-2 pl-lg-4">
                <h2 class="page__subtitle pt-4 pt-lg-2">User Details</h2>
                {% crispy form %}
            </div>
            <div class="col-12">
                <hr class="border__dashed">
            </div>
            <!-- My product reviews -->
            <div class="col-12 col-lg-8 pr-lg-4">
                <h2 class="page__subtitle pt-3 pt-lg-2">My Product Reviews</h2>
                <div class="row no-gutters mt-1">
                    <div class="col-7 col-lg-8">
                        <p class="mb-1 small text-muted">Product</p>
                    </div>
                    <div class="col-5 col-lg-4 pl-0">
                        <p id="reviewed-on" class="mb-1 ml-2 small text-muted">Reviewed on</p>
                    </div>
                </div>            
                <hr class="mt-1 mb-1">
                <!-- Review lines -->
                <div id="review-list" class="profile__list">
                    {% for review in product_reviews %}
                        <div data-set-review-line="{{ review.product.pk }}" class="row no-gutters profile__order-line p-1 mt-1">
                            <div class="col-7 col-lg-8">
                                <p class="mb-0">{{ review.product.name }}</p>
                            </div>
                            <div class="col-5 col-lg-4 p-0">
                                <p class="mb-0 ml-2">
                                    <span>{{ review.date_created|date:"jS M Y" }}</span>
                                    <span class="small">({{ review.date_created|date:"g:ia"|cut:"." }})</span>
                                </p>
                            </div>
                        </div>
                    {% empty %}
                        <div class="row mt-1">
                            <div class="col-12">
                                <p>You have not made any reviews yet</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">

        // Add click event listeners for order history lines
        $('.profile__order-line').click(function (e) {
            orderNumber = e.currentTarget.dataset.setOrderLine;
            window.location.href = `/checkout/history/${orderNumber}`;
        });

    </script>
{% endblock %}
