{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="checkout__container pt-5 pb-5">
        <!-- Page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 page__title">
                    {% if order_history %}
                        Previous&nbsp;
                    {% endif %}
                    Order Confirmation</h1>
                <hr class="mt-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 pr-lg-4">
                <p class="pt-3 pt-lg-2">
                    {% if order_history %}
                        Below is the order confirmation for order [<strong>{{ order.pk|stringformat:"010d" }}</strong>] which was originally placed on 
                        <strong>{{ order.order_date|date:"jS M Y" }}</strong>
                    {% else %}
                        Thank you for your order. Please find your order details below, a copy of this confirmation will be sent to: <strong>{{ order.email}}</strong>
                    {% endif %}
                </p>
            </div>
        </div>
        <!-- Order confirmation -->
        <div class="row mt-3 no-gutters p-2 border">
            <!-- Your order info -->
            <div class="col-12 col-lg-7 pr-lg-5">
                <p class="mb-2">Your Order:</p>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Order Number:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">{{ order.pk|stringformat:"010d" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Payment Ref:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">{{ order.stripe_pid }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Order Date:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">{{ order.order_date|date:"jS M Y @ g:ia" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Order Total:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">£{{ order.order_total|floatformat:2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Delivery Cost:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">£{{ order.delivery_cost|floatformat:2 }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <p class="mb-0 mb-sm-1">Grand Total:</p>
                    </div>
                    <div class="col-12 col-sm-7 text-sm-right">
                        <p class="mb-1">£{{ order.grand_total|floatformat:2 }}</p>
                    </div>
                </div>                    
            </div>
            <!-- Your delivery address -->
            <div class="col-12 col-lg-5 border__left pl-lg-3">
                <hr class="mt-1 mb-1 d-lg-none">
                <div>
                    <p class="mb-2">Delivery Address:</p>
                    <p class="mb-0">{{ order.street_address1|title}}</p>
                    {% if order.street_address2 %}
                        <p class="mb-0">{{ order.street_address2|title}}</p>
                    {% endif %}
                    <p class="mb-0">{{ order.town_or_city|title}}</p>
                    <p class="mb-0">{{ order.county|title}}</p>
                    <p class="mb-0">{{ order.postcode|upper}}</p>
                    <p class="mb-0">{{ order.country}}</p>
                </div>
            </div>
            <!-- Your order items -->
            <div class="col-12">
                <hr class="mt-1 mb-1">
                <p class="mt-2 mb-2">Order Items:</p>
                {% for item in order.lineitems.all %}
                    <div class="row mt-1 mb-1">
                        <div class="col-1 d-none d-md-block">
                            {% if item.product.view_image %}
                                <a href="{% url 'product_info' item.product.pk %}">
                                    <img class="card-img-top img-fluid" src="{{ item.product.view_image.url }}" alt="{{ item.product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_info' item.product.pk %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ item.product.name }}">
                                </a>
                            {% endif %}                                            
                        </div>
                        <div class="col-12 col-sm-8 col-md-7">
                            <p class="mb-0 mb-sm-1">
                                <a class="text-muted" href="{% url 'product_info' item.product.pk %}">
                                    {{ item.product.name|truncatechars:80 }}...
                                </a>
                            </p>
                            {% if order_history %}
                                <p>
                                    <a class="btn__default btn__smaller" href="{% url 'add_review' item.product.pk item.order.pk %}">Review this product {{ item.product.pk }} order: {{ item.order.pk }}</a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-4 text-sm-right">
                            <p class="mb-0 mb-sm-1">Qty: {{ item.quantity }} @ £{{ item.product.price|floatformat:2 }} ea.</p>
                        </div>
                    </div>
                     {% if not forloop.last %}
                        <hr class="mt-1 mb-1 border__dashed">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if order_history %}
            <div class="row mt-3">
                <div class="col-12">
                    <a class="btn__default float-right" href="{% url 'user_profile' %}">
                        <i class="fas fa-chevron-left"></i>
                        <span class="pl-2">My Profile</span>
                    </a>
                </div>
            </div>
        {% endif %}

    </div>
</main>
{% endblock %}
