{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="checkout__container pt-5 pb-5">
        <!-- Page header -->
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 page__title">Order Confirmation</h1>
                <hr class="mt-1">
            </div>
        </div>
        <div class="row">
            <div class="col-12 pr-lg-4">
                <h2 class="page__subtitle pt-3 pt-lg-2">Please find details of your order below, a copy of this confirmation will be sent to: {{ order.email}}</h2>
            </div>
        </div>
        <!-- Order confirmation -->
        <div class="row mt-3">
            <div class="col-12 col-lg-6">
                <div>
                    <p>Your Order:</p>
                    <p>Order Number:<span class="float-right">{{ order.pk|stringformat:"010d" }}</span></p>
                    <p>Payment Ref:<span class="float-right">{{ order.stripe_pid }}</span></p>
                    <p>Order Date:<span class="float-right">{{ order.order_date|date:"jS M Y @ g:ia" }}</span></p>
                    <p>Order Total:<span class="float-right">{{ order.order_total|floatformat:2 }}</span></p>
                    <p>Delivery Cost:<span class="float-right">{{ order.delivery_cost|floatformat:2 }}</span></p>
                    <p>Grand Total:<span class="float-right">{{ order.grand_total|floatformat:2 }}</span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div>
                    <p>Delivery Address:</p>
                    <p>{{ order.street_address1}}</p>
                    {% if order.street_address2 %}
                        <p>{{ order.street_address2}}</p>
                    {% endif %}
                    <p>{{ order.town_or_city}}</p>
                    <p>{{ order.county}}</p>
                    <p>{{ order.postcode}}</p>
                    <p>{{ order.country}}</p>
                </div>
            </div>
            <div class="col-12">
                <p>Order Items:</p>
                <p>items here</p>
                <p>items here</p>
                <p>items here</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}
