{% extends "base.html" %}
{% load static %}

{% block extra_title %}Frequently asked questions{% endblock %}

{% block content %}
<main class="container-fluid page__default">
    <div class="page__container pt-5 pb-5">
        <div class="row">
            <section class="col-12 offset-lg-1 col-lg-10">
                <h1 class="mb-4 page__title d-none d-sm-block">frequently asked questions</h1>
                <h1 class="mb-4 page__title d-sm-none">FAQs</h1>
                <!-- List FAQs -->
                <ul>
                    {% for faq in faqs %}
                        <li>
                            <strong>{{ faq.question }}?</strong>
                            <p>
                                {{ faq.answer }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</main>

{% endblock %}
