{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="container pt-4 pt-md-5 pb-3 pb-md-5 pl-1 pl-md-5 pr-1 pr-md-5">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-10">
                <h1 class="mb-4 page__title d-none d-sm-block">frequently asked questions</h1>
                <h1 class="mb-4 page__title d-sm-none">FAQs</h1>
                <ul>
                    {% for faq in faqs %}
                        <li>
                            <strong>{{ faq.question }}?</strong>
                            <p>
                                {{ faq.answer }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}
