:root {
    --themePageGrey: rgb(250, 250, 250);
    --themePageWhite: rgb(254, 254, 254);
    --themeDarkGrey: rgb(85, 85, 85);
    --themeLogoGrey: rgb(119, 119, 119);
    --themeActionGrey: rgb(221, 221, 221);
    --themeBlack: rgb(51, 51, 51);
    --themeButtonBlue: rgb(0, 105, 217);
}

html {
    height: 100%;
}

body {
    color: var(--themeBlack);
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
}

/* Helpers */

.form__default .form-group {
    margin-bottom: 4px;
}

.fz__md {
    font-size: 1.1em;
}

.fz__lg {
    font-size: 1.5em;
}

.line-h__sm {
    line-height: 1.2;
}

.border__bottom {
    border-bottom: 1px dashed rgb(0, 0, 0, 0.1);
}

hr.border__dashed {
    border-top-style: dashed;
}

.bg__action-grey {
    background: var(--themeActionGrey);
}

.cursor__pointer {
    cursor: pointer;
}

/* Buttons */

.icon {
    /* from Bulma: to create a reliable square container for icons */
    display: inline-flex !important;
    height: 1.5em;
    width: 1.5em;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.btn__main {
	/* based on bootstrap btn btn-primary */
    padding: .3rem .7rem;
    color: #fff;
    background: #0872e3;
    border: 6px ridge #2488f1;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn__main:hover  {	
    color: #fff;
    background-color: #0069d9;
    text-decoration: none;
}

.btn__smaller {
    padding: 2px 4px !important;
    border-width: 3px !important;
}

.btn__shop {
    padding: 0.5em 1.5em;
    font-size: 1.25rem;
}

.header__tagline {
    height: 2em;
    padding: 5px 0;
    color: #fff;
    background: #000;
    font-size: 1.2em;
}

/* Pages */
.page__logo {
    display: inline-block;
    padding: 12px 16px;
    color: #000;
    border: 2px solid var(--themeLogoGrey);
    font-size: 2.2em;
    font-weight: 500;
}

.default__links {
    padding: 0;
    font-size: 0.8em;
    color: var(--themeDarkGrey);
}

.default__links:hover,
.default__links:focus,
.default__links:active {
    color: var(--themeButtonBlue);
    text-decoration: none;
    transition: ease-in-out, .35s;
}

i {
    vertical-align: middle;
}

.page__default {
    min-height: 70vh;
    background: var(--themePageGrey);
}

.page__container {
    width: 85%;
    margin: 0 auto;
}

.page__title {
    color: var(--themeTitleBlack);
    font-size: 2.2em;
    text-transform: uppercase;
}

.page__subtitle {
    color: var(--themeLogoGrey);
    font-size: 1.6em;
}

.page__top-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    /* 86px is the height of the nav area */
    bottom: calc((100% - 86px) / 2);
    right: 0;
    font-size: 1.6em !important;
    cursor: pointer;
}

/* Allauth forms and default button */
.allauth-form-inner-content label:not([class='form-check-label']) {
    display: none;
}

.allauth-form-inner-content button,
.btn__default {
	/* based on bootstrap btn btn-success */
	display: inline-block;
    padding: .3rem .7rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #fff;
    background: #28a745;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    border: 4px ridge #20b942;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.btn__default:hover  {	
    color: #fff;
    background-color: #218838;
    text-decoration: none;
}

/* Profile */
.profile__order-line, .profile__review-line {
    background-color: transparent !important;
    cursor: pointer;
    text-decoration: none;
}

.profile__order-line:hover,
 .profile__review-line:hover {
    color: green;
    background-color: #fff !important;
}

.profile__list {
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Navbar */
.nav__logo {
    padding: 4px 8px;
    font-size: 1.6em;
}

.nav__logo:hover,
.nav__logo:focus,
.nav__logo:active {
    color: #000 !important;
    background: transparent;
}

.nav__toggler {
    padding: 0;
    font-size: 1.5em;
    color: var(--themeBlack);
}

.nav__toggler:hover,
.nav__toggler:focus,
.nav__toggler:active {
    color: #111 !important;
    background: transparent;
}

.nav__icons-width {
    width: 200px;
}

.nav__icons-position {
    position: absolute;
    top: 5px;
    right: 1rem;
}

.nav__icons {
    padding: 0;
    font-size: 1.4em !important;
}

.nav__links {
    padding: 0.5em !important;
    color: var(--themeDarkGrey) !important;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: uppercase;
}

.nav__links:hover {
    color:#000 !important;
    background: transparent;
}

.nav__links:active,
.nav__links:focus {
    color:#fefefe !important;
    background: var(--themeDarkGrey);
    transition: ease-in-out, .45s;
}

/* Products */
.product__container {
    width: 80%;
    margin: 0 auto;
}

.product__title {
    height: 2.4em;
    margin-bottom: 4px;
    overflow: hidden;
    font-size: 1.2em;
}

.product__price {
    font-size: 1.8em;
    font-weight: bold;
}

.product__featured {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    color: orangered;
    font-size: 1.5em;
}

.product__featured:hover,
.product__featured:focus,
.product__featured:active {
    color: var(--themeButtonBlue);
    transition: ease-in-out, .35s;
    text-decoration: none;
}

.product__link {
    color: var(--themeBlack);
}

.product__link:hover,
.product__link:focus,
.product__link:active {
    color: var(--themeBlack);
    text-decoration: none;
}

.product__admin-btn {
    padding: 2px 8px;
    margin-left: 10px;
    float: right;
    border-radius: 0;
    font-size: 0.8em;
}

.search__input {
    width: 90%;
}

.search__close {
    position: absolute;
    top: 0;
    right: 0;
}

/* Cart */
.cart__container {
    width: 75%;
    margin: 0 auto;
}

.cart__badge {
    border-radius: 25%;
    position: absolute;
    top: 0;
    right: -6px;
    padding: .2em .36em;
    background: limegreen;
    color: white;
    font-size: 64%;
    font-weight: 600;
}

/* Toasts */
.toast {
    position: fixed;
    right: 16px;
    top: 85px;
    width: 90%;
    z-index: 99999;
    color: #000;
    background: rgba(225, 225, 225, 0.95);
    border: 1px solid var(--themeLogoGrey);
    border-radius: 0;
}

.toast-header {
    color: #fefefe;
    font-size: 1em;
    font-weight: normal;
    border-radius: 0;
}

.toast__success, .toast__info {
    background: #0f842a;
}

.toast__warning {
    background: #973710;
}

.toast__error {
    background: #8a0f0f;
}

.toast__close {
    color: #fefefe;
}

.toast-body {
    max-height: 350px;
    overflow:auto;
    background: #fefefe;
}

/* Reviews */

.review__product-name {
    font-size: 1.2em;
}

.fa-stack {
    /* Needs to be fixed size half that of rating__star */
    font-size: 8px;
}

.rating__star {
    font-size: 16px;
    color: gold;
}

.rating__none {
    font-size: 16px;
    color: #e9e9e9;
}

/* Override bootstrap checkbox for our delete review checkbox*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(248, 4, 4)!important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(248, 4, 4, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(255, 200, 200); 
}  

/* Footer */
.footer__logo {
    padding: 2px 4px;
    font-size: 0.8em;
}

footer h4 {
    font-size: 1em;
}

/* Media Queries */

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {

    .cart__container {
        width: 95%;
    }

    .nav__icons-width {
        width: 300px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    .cart__container {
        width: 85%;
    }

    .review__product-name {
        font-size: 1.6em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .nav__icons-width {
        width: 225px;
    }

    .border__left {
        border-left: 1px dashed rgb(0, 0, 0, 0.1);
    }

}
