@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --customizeScale:6;
}

.modal-header .close {
    padding: 1.5rem 1.5rem !important;
}

.preview__size {
    height: 413px;
    width: 291px;
}

.preview__overlay {
    position: absolute;
    top: -4px;
    overflow: hidden;
}

#design-pause-overlay {
    display: none;
    z-index: 2000;
}

.custom__field {
    position: absolute;
    width: 291px;
    text-align: center;
}

.custom__select {
    padding: 0 5px;
    height: 31px;
}

.field__margin {
    /* margin: 2px 0; */
    margin: 0 0 4px 0;
}

.btn__field-action {
    width: 30%;
    /* margin: 2px 0; */
    border-radius: 0;
}

#btn-invite-edit, #btn-invite-reset {
    position: absolute;
    z-index: 3000;
    bottom: 0;
}

#btn-invite-edit {
    left: 0;
}

#btn-invite-reset {
    right: 0;
}

.input__field {
    position: absolute;
    display: none;
    z-index: 1000;
    width: 291px;
    padding: 4px 8px;
    background: darkgray;
    text-align: left;
}

.edit__field {
    border: 0;
}

.edit__field:hover,
.edit__field:focus,
.edit__field:active {
    border: 1px dotted grey;
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {

    :root {
        --customizeScale:4;
    }

    .preview__size {
        height: 620px;
        width: 437px;
    }

    .custom__field {
        width: 437px;
    }

    .input__field {
        width: 437px;
        padding: 8px 24px 8px 0;
        background: darkgray;
    }


}
