<script type="text/javascript">
    /* 
        * Add event listeners for the qty buttons to add and subtract from their qty 
        * and enable or disable the qty buttons as required.
        * whichQtyButton relies on the button and input elements being named correctly 
        * so it can retrieve the correct data.
        * ie.  btn-minus-item-21  and  qty-item-21
        */
    $('.qty__btn').click(function(e){
        buttonClicked = e.currentTarget.id;
        whichQtyButton = buttonClicked.split('-');

        if (whichQtyButton[1] == 'plus') {
            currentQty = parseInt($('#qty-item-' + whichQtyButton[3]).val());
            if (currentQty < 99) {
                currentQty++;
                $(`#btn-minus-item-${whichQtyButton[3]}`).prop('disabled', false);
            }
            if (currentQty == 99) {
                $('#' + e.currentTarget.id).prop('disabled', true);
            }
        }

        if (whichQtyButton[1] == 'minus') {
            currentQty = parseInt($('#qty-item-' + whichQtyButton[3]).val());
            if (currentQty > 0) {
                currentQty--;
                $(`#btn-plus-item-${whichQtyButton[3]}`).prop('disabled', false);
            }
            if (currentQty == 0) {
                $('#' + e.currentTarget.id).prop('disabled', true);
            }
        }

        $('#qty-item-' + whichQtyButton[3]).val(currentQty);

    });
</script>