{% load static %}
<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Customisable invites for any occasion,print them yourself and save money or even better email them and save the planet.">
    {% endblock %}

    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/6cfdba21b4.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>-Invitations- {% block extra_title %}{% endblock %}</title>

    </head>
    <body>
        <!-- Tag line -->
        <div class="container-fluid text-center header__tagline">
            Free delivery on all orders over £20
        </div>

        <!-- Search Box Modal -->
        <div class="modal" id="search-modal">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-body">
                        <form action="{% url 'products' %}" method="GET">
                            <div class="float-right">
                                <button type="button" class="search__close close" data-dismiss="modal">
                                    <i class="fas fa-times icon"></i>
                                </button>
                            </div>
                            <div class="input-group search__input mt-2">
                                <input class="form-control rounded-0" type="text" id="search-text" name="search-text" placeholder="search products">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary rounded-0 p-0 border-right-0" type="button" id="search-clear-text">
                                        <span class="">
                                            <i class="fas fa-backspace icon"></i>
                                        </span>
                                    </button>
                                    <button class="btn btn-primary rounded-0 p-0" type="submit">
                                        <span class="">
                                            <i class="fas fa-search icon"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of search box modal -->

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
            <a class="navbar-brand d-none d-lg-block mr-0" href="{% url 'home' %}" title="Home page">
                <div class="page__logo nav__logo">- INVITATIONS -</div>
            </a>
            <button class="custom-toggler navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#products-menu" aria-controls="products-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nav__toggler">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <!-- product dropdown menus -->
            <div class="collapse navbar-collapse" id="products-menu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown mr-lg-4">
                        <a class="nav-link nav__links" href="#" id="all-products-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="all-products-dropdown">
                            <a class="dropdown-item" href="#">By Price</a>
                            <a class="dropdown-item" href="#">By Category</a>
                            <a class="dropdown-item" href="#">By Rating</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?show=new" title="View new products">New Products</a>
                            <a class="dropdown-item" href="{% url 'products' %}?show=featured" title="View featured products">Featured Products</a>
                            <a class="dropdown-item" href="{% url 'products' %}" title="View all products">All Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-4">
                        <a class="nav-link nav__links" title="Invitations" href="#" id="invitations-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Invitations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="invitations-dropdown">
                            <a class="dropdown-item" href="{% url 'products' %}?category=wedding" title="Wedding invitations">Wedding</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=birthday" title="Birthday invitations">Birthday</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=social" title="Social invitations">Social Event</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?show=invitations&category=wedding,birthday,social" title="All invitations">All Invitations</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav__links" title="Stationery" href="#" id="stationery-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stationery
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stationery-dropdown">
                            <a class="dropdown-item" href="{% url 'products' %}?category=paper" title="Paper products">Paper</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=envelopes" title="Envelope products">Envelopes</a>
                            <a class="dropdown-item" href="{% url 'products' %}?category=markers_pens" title="Marker & Pen products">Markers, pens, etc</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'products' %}?show=stationery&category=paper,envelopes,markers_pens" title="All stationery products">All Stationery</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Nav icons: (home) / search / account / shopping cart -->
            <div class="nav__icons-width nav__icons-position">
                <div class="d-flex justify-content-between mt-2">
                    <!-- Home -->
                    <div class="d-flex d-lg-none">
                        <a class="nav-link default__links nav__icons" href="{% url 'home' %}" title="Home page">
                            <i class="fas fa-home icon"></i>
                        </a>
                    </div>
                    <!-- Search -->
                    <div class="d-flex">
                        <a href="#" title="Text search" id="nav-search-btn" class="nav-link default__links nav__icons"  data-toggle="modal" data-target="#search-modal">
                            <i class="fas fa-search icon"></i>
                        </a>
                    </div>
                    <!-- Profile -->
                    <div class="d-flex">
                        <a class="nav-link default__links nav__icons" title="User profile" href="#" id="my-account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-alt icon"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="my-account-dropdown">
                            {% if not user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account_login' %}" title="User login">Login</a>
                                <a class="dropdown-item" href="{% url 'account_signup' %}" title="User registration">Register</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'user_profile' %}" title="View your profile">My Profile</a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}" title="Logout of your account">Logout</a>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:index' %}" title="Site admin">Site Management</a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Shopping cart with badge -->
                    <div class="d-flex">
                        <a class="nav-link default__links nav__icons" href="{% url 'view_cart' %}" title="View shopping cart">
                            <i class="fas fa-shopping-cart icon"></i>
                            <span class="badge badge-light cart__badge">{{ cart_product_count }}</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Div to pad out the navbar when the logo is removed -->
            <div class="nav__icons-width d-none d-lg-flex"></div>

        </nav>

        {% block messages %}
            {% for message in messages %}
                <!-- Django messages display in a bootstrap toast -->
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="true" data-delay="10000">
                    <div class="toast-header {{ message.level_tag }}">
                        <strong class="mr-auto">
                            {% if message.extra_tags %}
                                {{ message.extra_tags|upper }}
                            {% else %}
                                USER
                            {% endif %}
                        </strong>
                        <button type="button" class="ml-2 mb-1 close toast__close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Toast body -->
                    {% with message.extra_tags|upper as msg_title %}
                        <div class="toast-body">
                            <p>{{ message }}</p>
                            <!-- Only show cart contents if message comes from a product page -->
                            {% if 'ADDED' in msg_title or 'UPDATE' in msg_title %}
                                <hr class="mt-2 mb-1">
                                <p>Your shopping cart contains: {{ cart_product_count }} item(s)</p>   
                                {% for item in cart_items reversed %}
                                    <div class="row toast__shopping-cart no-gutters mt-1">
                                        <div class="col-3">
                                            {% if item.image %}
                                                <a href="{% url 'product_info' item.product_id %}">
                                                    <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                                                </a>
                                                {% else %}
                                                <a href="{% url 'product_info' item.product_id %}">
                                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ item.name }} " title="{{ item.name }}">
                                                </a>
                                            {% endif %}                                            
                                        </div>
                                        <div class="col-9 font-weight-bolder">
                                            <p class="line-h__sm mb-0 ml-2">
                                                {{ item.name|truncatechars:72 }}
                                            </p>
                                            <p class="mt-0 ml-2">
                                                <small>Qty: {{ item.quantity }}</small>
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!-- Only show toast footer if message comes from a product page -->
                        {% if 'ADDED' in msg_title or 'UPDATE' in msg_title %}
                            <div class="toast-footer">
                                <a class="w-100 btn btn__main p-2 fz__lg" href="{% url 'view_checkout' %}">
                                    <span class="font-weight-bold">Go to Checkout&nbsp;&nbsp;</span>
                                    <i class="far fa-credit-card"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <!-- End of Django messages toast -->
            {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="container-fluid bg-white">
            <div class="row pl-5 pr-5">
                <!-- My account -->
                <div class="col-12 col-md-3 mt-4 mt-md-5">
                    <p>My Account</p>
                    <ul class="list-group list-group-flush mb-3 mb-md-5 pt-0 pr-5">
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'account_login' %}" title="User login and registration">
                                Login / Register
                            </a>
                        </li>
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'user_profile' %}" title="View user profile">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Here to help -->
                <div class="col-12 col-md-3 mt-sm-2 mt-md-5">
                    <p>Here to Help</p>
                    <ul class="list-group list-group-flush mb-3 mb-md-5 pt-0 pr-5">
                        <li class="list-group-item p-1">
                            <a class="default__links" href="#">
                                Contact Us
                            </a>
                        </li>
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'delivery_info' %}">
                                Delivery Information
                            </a>
                        </li>
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'faq' %}">
                                FAQs
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- About us -->
                <div class="col-12 col-md-3 mt-sm-2 mt-md-5">
                    <p>About Us</p>
                    <ul class="list-group list-group-flush mb-3 mb-md-5 pt-0 pr-5">
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'our_story' %}">
                                Our Story
                            </a>
                        </li>
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'terms_conditions' %}">
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li class="list-group-item p-1">
                            <a class="default__links" href="{% url 'privacy_policy' %}">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Connect with us -->
                <div class="col-12 col-md-3 mt-sm-2 mt-md-5">
                    <p>Connect with Us</p>
                    <ul class="list-group list-group-flush list-group-horizontal mb-sm-3 mb-md-5 pt-0 pr-5">
                        <li class="list-group-item border-0 pt-1">
                            <a class="default__links" href="https://www.instagram.com" title="Visit our Instagram" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-instagram-square fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-1">
                            <a class="default__links" href="https://www.facebook.com" title="Visit our Facebook" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-facebook-square fa-3x"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-1">
                            <a class="default__links" href="https://www.twitter.com" title="Visit our Twitter" target="_blank" rel="noreferrer noopener">
                                <i class="fab fa-twitter-square fa-3x"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Footnote -->
            <div class="row pt-3 pb-4">
                <div class="col-12 col-md-7 d-flex justify-content-center justify-content-md-start my-auto">
                    <small>© 2021 Invitations Limited. All Rights Reserved.</small>
                </div>
                <div class="col-12 col-md-5 d-flex justify-content-center justify-content-md-end">
                    <a href="{% url 'home' %}" title="Home page">
                        <div class="page__logo footer__logo mt-2 mt-md-0">
                            - INVITATIONS -
                        </div>
                    </a>
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        <script>

            // Init Bootstrap Toasts
            $('.toast').toast('show');

            // Give the text input field focus when the modal is shown
            $(document).ready(function() {
                $('#search-modal').on('shown.bs.modal', function() {
                    $('#search-text').trigger('focus');
                });
            });

            // Reset the search text when clicked
            $('#search-clear-text').click(function (e) {
               $('#search-text').val('');
               $('#search-text').trigger('focus');
            });

        </script>
        {% endblock %}
        
    </body>
</html>