{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/customize.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid page__default">
    <div class="product__container pt-5 pb-5">
        <!-- Product -->
        <div class="row">
            <!-- Product image -->
            <div class="col-12 col-md-6 offset-lg-2 col-lg-4 pr-0">
                {% if product.view_image %}
                    <img class="card-img-top img-fluid" src="{{ product.view_image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ product.name }}">
                {% endif %}
                {% if product.featured %}
                    <a class="product__featured float-right" href="{% url 'products' %}?show=featured" alt="View more featured products" title="View more featured products">
                        <i class="fas fa-star icon"></i>
                    </a>
                {% endif %}
            </div>
            <!-- Product details -->
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-between">
                <!-- Product name, price, qty and description -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                <div class="row">
                    <div class="col-12">
                        <h5 class="product__title">{{ product.name }}</h5>
                        <div class="row">
                            <div class="col-6 col-sm-8 col-md-6 col-xl-7">
                                <p class="product__price mt-0 mb-0">£{{ product.price }}</p>
                            </div>
                            <!-- Quantity to add to the cart -->
                            <div class="col-6 col-sm-4 col-md-6 col-xl-5">
                                {% with product.customizable as custom %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light rounded-0 p-0 qty__btn" {% if custom %}disabled{% endif %} type="button" id="btn-minus-item-{{ product.id }}">
                                            <i class="fas fa-minus icon"></i>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm text-center" {% if custom %}readonly{% endif %} type="number" min="1" max="99" value="1" name="qty-item-{{ product.id }}" id="qty-item-{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-light rounded-0 p-0 qty__btn" {% if custom %}disabled{% endif %} type="button" id="btn-plus-item-{{ product.id }}">
                                            <i class="fas fa-plus icon"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                    {% csrf_token %}
                                    <button type="submit" class="btn__default">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="pl-1">ADD TO CART</span>
                                    </button>
                                    <!-- <input type="submit" class="btn__default" value="Add to Cart"> -->
                                    <input type="hidden" name="original_path" value="{{ request.path }}">
                            </div>
                        </div>
                        <hr>
                        <p>{{ product.description }}</p>
                        {% if product.customizable %}
                            <p class="small">Please note invites have a fixed quantity of 1, as you can print them yourself as many times as required.</p>
                        {% endif %}
                    </div>
                </div>
                    <input type="hidden" name="invite-data-{{ product.id }}" id="invite-data-{{ product.id }}" value="{{ invite_data }}">
                </form>
                <!-- Product category tag, admin links -->
                <div class="row">
                    <div class="col-12">
                        {% if product.customizable and invite_data and product.customize_image %}
                            <!-- <button type="button" class="btn btn__default mb-3 float-right js__invite-data-btn" data-toggle="modal" data-target="#customize-modal"> -->
                            <button data-set-invite-btn="{{ product.id }}" type="button" class="btn btn__default mb-3 float-right js__invite-data-btn">
                                <i class="far fa-edit"></i>
                                <span class="pl-1">PERSONALISE</span>
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-12">
                        {% if product.category %}
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}" alt="Category: {{ product.category.display_name }}" title="Category: {{ product.category.display_name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.display_name }}
                            </a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                                <a href="#edit" class="btn btn-success product__admin-btn" role="button" >EDIT</a>
                                <a href="#delete" class="btn btn-danger product__admin-btn" role="button" >DELETE</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% if product.customizable and invite_data and product.customize_image %}
    {% include 'products/includes/customize_modal.html' with modaltitle=product.name %}
    {{ product.customize_image.url|json_script:"customize-image" }}
    <script type="text/javascript">
        DIV_INPUT_TEMPLATE = `{% include "products/includes/div_inputs_template.html" %}`
        // ZDATA_RETURN_ID = 'invite-data-item-{{ product.id }}';
    </script>    
{% endif %}

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'cart/includes/quantity_buttons_script.html' %}
        <script src="{% static 'products/js/customize.js' %}"></script>
        <script type="text/javascript">
            // let inviteFields = '';
            // Set event listener for personalize button in product display
            $('.js__invite-data-btn').click(function(e){
                DATA_RETURN_ID = `invite-data-${e.currentTarget.dataset.setInviteBtn}`;
                customiseInvite.inviteFields = JSON.parse($(`#${DATA_RETURN_ID}`).val());
                $("#design-preview").children().filter(':not(.btn)').remove();
                customiseInvite.setupInviteActionButtons();
                customiseInvite.copyInviteFields();
                customiseInvite.setupInviteFields();
                $('#customize-modal').modal('show');
            });
        </script>     
{% endblock %}
