{% extends "base.html" %}
{% load admin_urls %}
{% load custom_tags %}
{% load static %}

{% block content %}
<main class="container-fluid page__default">
    <div class="product__container pt-5 pb-5">
        <!-- Page header -->
        <!-- Generate product search title -->
        <div class="row">
            <div class="col-12">
                <h1 class="mb-0 page__title">{{ main_title }}</h1>
                {% if categories and categories|length > 1 %}
                    <div class="d-flex mt-0 mb-0">
                        {% for category in categories %}
                            <a href="{% url 'products' %}?category={{ category.name }}" class="text-muted">
                                <div class="flex-wrap text-capitalize mr-3">{{ category.display_name }}</div>
                            </a>
                        {% endfor %}
                    </div>
                {% elif search_text %}
                    <div class="d-flex mt-0">found for <em>"{{ search_text }}"</em></div>
                {% else %}
                    <div class="d-flex mt-0">&nbsp;</div>
                {% endif %}
                <hr class="mt-1">
            </div>
        </div>
        <!-- Display products -->
        <div class="row">
            {% for product in products %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
                    <div class="card h-100 product__card">
                        {% if product.view_image %}
                            <a href="{% url 'product_info' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.view_image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_info' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                        <a class="product__link" href="{% url 'product_info' product.id %}">
                            <div class="card-body pt-0 pb-0">
                                <h5 class="card-title product__title">{{ product.name }}</h5>
                                <p class="card-text product__price mb-0">£{{ product.price }}</p>
                            </div>
                        </a>
                        <div class="card-footer bg-white border-0 pt-0">
                            <p class="small mt-1 mb-0">
                                {% if product.category %}
                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}" alt="Category: {{ product.category.display_name }}" title="Category: {{ product.category.display_name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ product.category.display_name }}
                                    </a>
                                {% endif %}
                                {% if product.featured %}
                                    <a class="product__featured float-right" href="{% url 'product_info' product.id %}" alt="Featured product" title="Featured product">
                                        <i class="fas fa-star icon" title="Featured product"></i>
                                    </a>
                                {% endif %}
                            </p>
                            <div class="mt-2">
                                <p class="mb-0 small">
                                {% if product.average_rating > 0 %}
                                    <span class="text-muted">Rating: </span>{{ product.average_rating|ratingstars }}
                                {% else %}
                                    No reviews yet
                                {% endif %}
                                {% if request.user.is_superuser %}
                                    <span>
                                        <a href="{% url opts|admin_urlname:'change' product.id %}" class="btn btn-danger product__admin-btn" role="button" >EDIT</a>
                                    </span>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 mt-3">
                    <div class="text-uppercase">no products found</div>
                </div>
            {% endfor %}
        </div>
        <div class="page__top-btn nav__icons">
            <span alt="Page top" title="Page top">
                <i class="fas fa-chevron-circle-up"></i>
            </span>	
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.page__top-btn').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}