{% extends "base.html" %}
{% load admin_urls %}
{% load custom_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/customize.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid page__default">
    <section class="product__container pt-5 pb-5">
        <!-- Product -->
        <div class="row">
            <!-- Product image -->
            <div class="col-12 col-md-6 offset-lg-1 col-lg-5 pr-0">
                {% if product.view_image %}
                    <img class="card-img-top img-fluid" src="{{ product.view_image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}image-not-available.png" alt="{{ product.name }}">
                {% endif %}
                {% if product.featured %}
                    <a class="product__featured float-right" href="{% url 'products' %}?show=featured" alt="View more featured products" title="View more featured products">
                        <i class="fas fa-star icon"></i>
                    </a>
                {% endif %}
            </div>
            <!-- Product details -->
            <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-between">
                <!-- Product name, category, price, qty and description -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                <div class="row">
                    <div class="col-12">
                        <h5 class="mb-1">{{ product.name }}</h5>
                        {% if product.category %}
                            <p class="mb-2">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}" alt="Category: {{ product.category.display_name }}" title="Category: {{ product.category.display_name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.display_name }}
                                </a>
                            </p>
                        {% endif %}
                        <!-- Quantity to add -->
                        <div class="row">
                            <div class="col-6 col-sm-8 col-md-6 col-xl-7">
                                <p class="product__price mt-0 mb-0">£{{ product.price }}</p>
                            </div>
                            <div class="col-6 col-sm-4 col-md-6 col-xl-5">
                                {% with product.customizable as custom %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-light rounded-0 p-0 qty__btn" {% if custom %}disabled{% endif %} type="button" id="btn-minus-item-{{ product.id }}">
                                            <i class="fas fa-minus icon"></i>
                                        </button>
                                    </div>
                                    <input class="form-control form-control-sm text-center" {% if custom %}readonly{% endif %} type="number" min="1" max="99" value="1" name="qty-item-{{ product.id }}" id="qty-item-{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-light rounded-0 p-0 qty__btn" {% if custom %}disabled{% endif %} type="button" id="btn-plus-item-{{ product.id }}">
                                            <i class="fas fa-plus icon"></i>
                                        </button>
                                    </div>
                                </div>
                                {% endwith %}
                            </div>
                        </div>
                        <!-- Add to cart -->
                        <div class="row">
                            <div class="col-md-12 text-right">
                                    {% csrf_token %}
                                    {% if exists_in_cart and product.customizable %}
                                        <a href="{% url 'view_cart' %}" class="btn btn__default mb-3 float-right">
                                            Already in your shopping cart
                                        </a>
                                    {% else %}
                                        <button type="submit" class="btn btn__default" title="Add product to the shopping cart">
                                            <i class="fas fa-shopping-cart"></i>
                                            <span class="pl-1">ADD TO CART</span>
                                        </button>
                                    {%endif %}
                                    <input type="hidden" name="original_path" value="{{ request.path }}">
                            </div>
                            <div class="col-md-12 text-right">
                                <p id="js__product-warning" class="mt-2 mb-0 d-none float-right text-danger">
                                    Add your invite to the shopping cart, otherwise any personalisation will be lost.
                                </p>   
                            </div>
                        </div>
                        <hr>
                        <p>{{ product.description }}</p>
                        {% if product.customizable %}
                            <p class="small">Please note invites have a fixed quantity of 1, as you can print them yourself as many times as required.</p>
                        {% endif %}
                    </div>
                </div>
                    <input type="hidden" name="invite-data-{{ product.id }}" id="invite-data-{{ product.id }}" value="{{ invite_data }}">
                </form>
                <!-- Personalise, reviews, admin edit button -->
                <div class="row">
                    <div class="col-12">
                        {% if not exists_in_cart %}
                            {% if product.customizable and invite_data and product.customize_image %}
                                <button data-set-invite-btn="{{ product.id }}" type="button" class="btn btn__default mb-3 float-right js__invite-data-btn" title="Personalise this invite">
                                    <i class="far fa-edit"></i>
                                    <span class="pl-1">PERSONALISE</span>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <div>
                            <span class="small cursor__pointer js__product-reviews" title="View customer reviews">
                                {% if product.average_rating > 0 %}
                                    Reviews:  
                                    {% autoescape off %}
                                    {{ rating_html }}
                                    {% endautoescape %}
                                {% else %}
                                No reviews yet
                                {% endif %}
                            </span>
                            {% if request.user.is_superuser %}
                                    <a href="{% url opts|admin_urlname:'change' product.id %}" class="btn btn-danger product__admin-btn" role="button" >EDIT</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product reviews -->
        <div id="product-reviews" class="row d-none">
            <div class="col-12 offset-lg-1 col-lg-10 pr-0">
                <hr>
                <h5 class="mb-1">Customer Reviews: <span class="small">({{ product.reviews.all|length }})</span></h5>
                <!-- <p class="pt-3">Customer Reviews:</p> -->
                {% for review in product.reviews.all %}
                    <p class="mb-1">
                        <span class="pr-1">
                            {% autoescape off %}
                            {{ review.rating|ratingstars }}
                            {% endautoescape %}
                        </span>
                        <span class="small">{{ review.user.first_name }}</span>
                    </p>
                    <p>{{ review.comment }}</p>
                {% endfor %}
                <p class="small text-muted cursor__pointer js__product-reviews">Hide reviews</p>
            </div>
        </div>
    </section>
</main>
{% if product.customizable and invite_data and product.customize_image %}
    {% include 'products/includes/customize_modal.html' with modaltitle=product.name %}
    {{ product.customize_image.url|json_script:"customize-image" }}
    <script type="text/javascript">
        DIV_INPUT_TEMPLATE = `{% include "products/includes/div_inputs_template.html" %}`
    </script>    
{% endif %}

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {% include 'cart/includes/quantity_buttons_script.html' %}
    <script type="text/javascript">
        // Set event listener to hide or show customer product reviews
        // With offset calculation code from: Santiago Angel on stackoverflow.com
        // https://stackoverflow.com/questions/18150090/jquery-scroll-element-to-the-middle-of-the-screen-instead-of-to-the-top-with-a
        $('.js__product-reviews').click(function(e){
            let showingReviews = $('#product-reviews').hasClass('d-none')
            if (showingReviews) {
                $('#product-reviews').toggleClass('d-none');
                let windowHeight = $(window).height();
                let reviewsHeight = $('#product-reviews').height();
                let reviewsOffset = $('#product-reviews').offset().top;
                let offset;
                if (reviewsHeight < windowHeight) {
                    offset = reviewsOffset - ((windowHeight / 2) - (reviewsHeight / 2));
                }
                else {
                    offset = reviewsOffset;
                }
                $('html, body').animate({scrollTop: offset}, 500);
            } else {
                $('html, body').animate({scrollTop: 0}, 0);
                $('#product-reviews').toggleClass('d-none');
            }
        });
    </script>

{% if product.customizable and invite_data and product.customize_image %}
    <script src="{% static 'products/js/customize.js' %}"></script>
    <script type="text/javascript">
        // Set event listener for personalize button in product display
        $('.js__invite-data-btn').click(function(e){
            DATA_RETURN_ID = `invite-data-${e.currentTarget.dataset.setInviteBtn}`;
            customiseInvite.inviteFields = JSON.parse($(`#${DATA_RETURN_ID}`).val());
            $('#design-preview').children().filter(':not(.btn)').remove();
            customiseInvite.setupInviteActionButtons();
            customiseInvite.copyInviteFields();
            customiseInvite.setupInviteFields();
            $('#customize-modal').modal('show');
        });
    </script>
{% endif %}
{% endblock %}
